Tileset(
    path: "alphabet.ase",
    width: 8,
    height: 8,
    names: [
     "SPACE", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "EXCLAMATION_MARK", "QUOTE", "HASHTAG", "DOLLARSIGN", "PERCENT", "PLUS", "DIVIDE", "COLON", "QUESTION_MARK", "DOP_BUCKS", "DOT"
    ]
)
