(
    pet: (
        upid: 669711364239,
        def_id: 0,
        name: "a     ",
        born: ("2025-09-03T16:17:11.178868361"),
        age: (
            secs: 1,
            nanos: 21188260,
        ),
        stomach_mood: Starving(
            elapsed: (
                secs: 1,
                nanos: 21188260,
            ),
        ),
        total_starve_time: (
            secs: 1,
            nanos: 4450564,
        ),
        stomach_filled: 0.0,
        extra_weight: 0.0,
        since_poop: (
            secs: 0,
            nanos: 0,
        ),
        since_game: (
            secs: 1,
            nanos: 21188260,
        ),
        since_death_check: (
            secs: 1,
            nanos: 21188260,
        ),
        should_die: None,
        parents: None,
    ),
    poops: (None, None, None, None, None),
    money: 0,
    inventory: (
        contents: ((
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 5,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 2,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        ), (
            owned: 1,
            item_extra: (
                uses: 0,
            ),
        )),
    ),
    shop: (
        item_count: 2,
    ),
    pet_records: (
        top: 0,
        entires: (None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
    ),
    fish_tank: (
        fish: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
    ),
    home_layout: (
        top: r#None,
        left: r#None,
        right: r#None,
    ),
    last_timestamp: ("2025-09-03T16:17:12.200789027"),
)