[
    FoodTemplate(
        name: "biscuit",
        fill_factor: 10,
        path: "/images/foods/biscuit.aseprite",
        in_shop: false,
        max_ate: 2,
        expire: "30m",
    ),
    FoodTemplate(
        name: "soup",
        fill_factor: 30,
        path: "/images/foods/soup.aseprite",
        max_ate: 1,
        expire: "4h",
    ),
    FoodTemplate(
        name: "sandwich",
        fill_factor: 50,
        path: "/images/foods/sandwich.aseprite",
        max_ate: 1,
        expire: "4h",
    ),
    FoodTemplate(
        name: "water melon",
        fill_factor: 10,
        path: "/images/foods/watermelon.aseprite",
        max_ate: 3,
        expire: "1h",
    ),
    FoodTemplate(
        name: "kebab",
        fill_factor: 60,
        path: "/images/foods/kebab.aseprite",
        max_ate: 1,
        expire: "8h",
    ),
    FoodTemplate(
        name: "egg",
        fill_factor: 10,
        path: "/images/foods/egg.aseprite",
        max_ate: 4,
        expire: "2h",
    ),
    FoodTemplate(
        name: "burger",
        fill_factor: 50,
        path: "/images/foods/burger.aseprite",
        max_ate: 4,
        expire: "4h",
    ),
    FoodTemplate(
        name: "pizza",
        fill_factor: 50,
        path: "/images/foods/pizza.aseprite",
        max_ate: 3,
        expire: "2h",
    ),
    FoodTemplate(
        name: "chips",
        fill_factor: 50,
        path: "/images/foods/chips.aseprite",
        max_ate: 2,
        expire: "2h",
    ),
]
