[
    FoodTemplate(
        name: "biscuit",
        fill_factor: 10,
        path: "/images/foods/biscuit.aseprite",
    ),
    FoodTemplate(
        name: "soup",
        fill_factor: 30,
        path: "/images/foods/soup.aseprite",
    ),
    FoodTemplate(
        name: "sandwich",
        fill_factor: 50,
        path: "/images/foods/sandwich.aseprite",
    ),
]
