[
    FoodTemplate(
        name: "biscuit",
        fill_factor: 10,
        path: "/images/foods/biscuit.aseprite",
        in_shop: false,
    ),
    FoodTemplate(
        name: "soup",
        fill_factor: 30,
        path: "/images/foods/soup.aseprite",
    ),
    FoodTemplate(
        name: "sandwich",
        fill_factor: 50,
        path: "/images/foods/sandwich.aseprite",
    ),
    FoodTemplate(
        name: "water melon",
        fill_factor: 10,
        path: "/images/foods/watermelon.aseprite",
    ),
    FoodTemplate(
        name: "kebab",
        fill_factor: 60,
        path: "/images/foods/kebab.aseprite",
    ),
    FoodTemplate(
        name: "egg",
        fill_factor: 10,
        path: "/images/foods/egg.aseprite",
    ),
    FoodTemplate(
        name: "burger",
        fill_factor: 50,
        path: "/images/foods/burger.aseprite",
    ),
    FoodTemplate(
        name: "pizza",
        fill_factor: 50,
        path: "/images/foods/pizza.aseprite",
    ),
    FoodTemplate(
        name: "chips",
        fill_factor: 50,
        path: "/images/foods/chips.aseprite",
    ),
]
