[
    ItemEntry(
        name: "tv lcd",
        cost: 1000,
        rarity: Rare,
        image: "tv_lcd",
        unique: true,
        desc: "Wow A wonderfull TV that's just so thin and light!",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "tv crt",
        cost: 1000,
        rarity: Rare,
        image: "tv_crt",
        unique: true,
        desc: "A fat TV.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "shop upgrade",
        cost: 1000,
        rarity: Rare,
        image: "shop_upgrade",
        unique: false,
        desc: "Give the shop keeper the investment they need to add a extra item per day.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "fishing rod",
        cost: 1000,
        rarity: Common,
        image: "fishing_rod_shop",
        unique: false,
        desc: "Go fishing maybe you can catch something good.",
        fishing_odds: 0.2,
    ),
    ItemEntry(
        name: "analog clock",
        cost: 1000,
        rarity: Common,
        image: "clock_item",
        unique: true,
        desc: "Wow you can tell the time.",
        fishing_odds: 0.1,
    ),ItemEntry(
        name: "digital clock",
        cost: 1000,
        rarity: Common,
        image: "digital_clock",
        unique: true,
        desc: "Wow you can tell the time digitaly.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "Fish Tank",
        cost: 1000,
        rarity: Rare,
        image: "fish_tank_empty_0",
        unique: true,
        desc: "A Fish Tank for some Fish. Fish not included.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "Fish",
        cost: 1000,
        rarity: Common,
        image: "fish_item",
        unique: true,
        desc: "A fish for a Fish Tank. Fish tank not included.",
        fishing_odds: 0.8,
    ),
    ItemEntry(
        name: "Painting Branch",
        cost: 1000,
        rarity: Common,
        image: "painting_branch",
        unique: true,
        desc: "A Painting of a Branch",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting Dude",
        cost: 1000,
        rarity: Common,
        image: "painting_dude",
        unique: true,
        desc: "A Painting of a Dude",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting Man",
        cost: 1000,
        rarity: Common,
        image: "painting_man",
        unique: true,
        desc: "A Painting of Man",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting PC",
        cost: 1000,
        rarity: Common,
        image: "painting_pc",
        unique: true,
        desc: "A Painting of a PC",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting Sun",
        cost: 1000,
        rarity: Common,
        image: "painting_sun",
        unique: true,
        desc: "A Painting of a Sun",
        fishing_odds: 0.05,
    ),


]
