[
    ItemEntry(
        name: "Telescope",
        category: Usable,
        rarity: Rare,
        cost: 1000,
        image: "telescope",
        unique: true,
        desc: "Gaze with wonder at the stars and the moon who knows what you will see up there.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "tv lcd",
        category: PlayThing,
        rarity: Rare,
        cost: 1000,
        image: "tv_lcd",
        unique: true,
        desc: "Wow A wonderfull TV that's just so thin and light!",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "tv crt",
        category: PlayThing,
        rarity: Rare,
        cost: 1000,
        image: "tv_crt",
        unique: true,
        desc: "A fat TV.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "shop upgrade",
        category: Usable,
        rarity: Rare,
        cost: 1000,
        image: "shop_upgrade",
        unique: false,
        desc: "Give the shop keeper the investment they need to add a extra item per day.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "fishing rod",
        category: Usable,
        rarity: Common,
        cost: 1000,
        image: "fishing_rod_shop",
        unique: false,
        desc: "Go fishing maybe you can catch something good.",
        fishing_odds: 0.2,
    ),
    ItemEntry(
        name: "analogue clock",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "clock_item",
        unique: false,
        desc: "Wow you can tell the time.",
        fishing_odds: 0.1,
    ),ItemEntry(
        name: "digital clock",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "digital_clock",
        unique: false,
        desc: "Wow you can tell the time digitaly.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "Fish Tank",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "fish_tank_empty_0",
        unique: true,
        desc: "A Fish Tank for some Fish. Fish not included.",
        fishing_odds: 0.1,
    ),
    ItemEntry(
        name: "Fish",
        category: Usable,
        rarity: Common,
        cost: 1000,
        image: "fish_item",
        unique: true,
        desc: "A fish for a Fish Tank. Fish tank not included.",
        fishing_odds: 0.8,
    ),
    ItemEntry(
        name: "Painting Branch",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "painting_branch",
        unique: false,
        desc: "A Painting of a Branch.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting Dude",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "painting_dude",
        unique: false,
        desc: "A Painting of a Dude.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting Man",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "painting_man",
        unique: false,
        desc: "A Painting of Man.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting PC",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "painting_pc",
        unique: false,
        desc: "A Painting of a PC.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Painting Sun",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "painting_sun",
        unique: false,
        desc: "A Painting of a Sun.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Invetro Light",
        category: Furniture,
        rarity: Rare,
        cost: 1000,
        image: "invetro_light",
        unique: false,
        desc: "Change up the lighting.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Personal Computer",
        category: PlayThing,
        rarity: Rare,
        cost: 1000,
        image: "pc_desktop_0",
        unique: true,
        desc: "A computer it can run software. Screen and a keyboard sold separately.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Screen",
        category: PlayThing,
        rarity: Rare,
        cost: 1000,
        image: "pc_desktop_screen",
        unique: true,
        desc: "A computer screen can show graphics. Computer and a keyboard sold separately.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Keyboard",
        category: PlayThing,
        rarity: Rare,
        cost: 1000,
        image: "pc_keyboard",
        unique: true,
        desc: "A computer keyboard can be used for input. Computer and screen sold separately.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book Vic 1981-1992",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_0_closed",
        unique: true,
        desc: "A comprehensive history of victorain australian poltics between 1981 to 1992.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book Nevile Wran",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_wran_closed",
        unique: true,
        desc: "A comprehensive history of Nevile Wran.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book C Programming",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_c_closed",
        unique: true,
        desc: "The perfect book to start to learn C.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book Dracula",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_dracula_closed",
        unique: true,
        desc: "Dracula is an 1897 Gothic horror novel by Irish author Bram Stoker.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book Great Gatsby",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_great_gatsby_closed",
        unique: true,
        desc: "The Great Gatsby is a 1925 tragedy novel by American writer F. Scott Fitzgerald.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book Epic of Gilgamesh",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_gilgamesh_closed",
        unique: true,
        desc: "The Great Gatsby is a 1925 tragedy novel by American writer F. Scott Fitzgerald.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Book Homers odyssey",
        category: Book,
        rarity: Common,
        cost: 1000,
        image: "book_odyssey_closed",
        unique: true,
        desc: "A ancient tale of a great joruny around the sea.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Program Tic Tac Toe",
        category: Software,
        rarity: Common,
        cost: 1000,
        image: "software_tic_tac_toe",
        unique: true,
        desc: "The peak of game desgin now playable on computer!",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Program Dop craft",
        category: Software,
        rarity: Common,
        cost: 1000,
        image: "software_dopcraft",
        unique: true,
        desc: "The hit Real time Strategy from 1998!",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Program C Compiler",
        category: Software,
        rarity: Common,
        cost: 1000,
        image: "software_c_compiler",
        unique: true,
        desc: "Burn your life making intangible software.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Program WWW Surfer",
        category: Software,
        rarity: Common,
        cost: 1000,
        image: "software_web_browser",
        unique: true,
        desc: "It's a web browser for the personal computer.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Program sardips",
        category: Software,
        rarity: Common,
        cost: 1000,
        image: "software_sardips",
        unique: true,
        desc: "A virtual pet game playable on the computer. Does a virutal pet game make sense on a PC?",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Thermometer Mercury",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "thermometer_mercury_display",
        unique: true,
        desc: "Tell the temperature the old fashioned way just don't drink it!",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Space Heater",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "space_heater",
        unique: true,
        desc: "The world too cold for your dop, Just chuck one of these bad boys in and it will be nice and toasty.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Air Conditioner",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "air_conditioner",
        unique: true,
        desc: "It's like a box of ice that never melts.",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Thermometer Digital",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "thermometer_digital_display",
        unique: true,
        desc: "Get the exact temperature no guess and it's not poisonous!",
        fishing_odds: 0.05,
    ),
    ItemEntry(
        name: "Calendar",
        category: Furniture,
        rarity: Common,
        cost: 1000,
        image: "calendar_filled",
        unique: true,
        desc: "Always know the date!",
        fishing_odds: 0.05,
    ),

]
