[
    ItemEntry(
        name: "tv lcd",
        cost: 1000,
        rarity: Rare,
        image: "tv_lcd",
        unique: true,
        desc: "Wow A wonderfull TV that's just so thin and light!",
        fishing_odds: 0.2,
    ),
    ItemEntry(
        name: "tv crt",
        cost: 1000,
        rarity: Rare,
        image: "tv_crt",
        unique: true,
        desc: "A fat TV.",
        fishing_odds: 0.2,
    ),
    ItemEntry(
        name: "shop upgrade",
        cost: 1000,
        rarity: Rare,
        image: "shop_upgrade",
        unique: false,
        desc: "Give the shop keeper the investment they need to add a extra item per day.",
        fishing_odds: 0.2,
    ),
    ItemEntry(
        name: "fishing rod",
        cost: 1000,
        rarity: Common,
        image: "fishing_rod_shop",
        unique: false,
        desc: "Go fishing maybe you can catch something good.",
        fishing_odds: 0.4,
    ),
    ItemEntry(
        name: "analog clock",
        cost: 1000,
        rarity: Common,
        image: "clock_item",
        unique: true,
        desc: "Wow you can tell the time.",
        fishing_odds: 0.2,
    ),
]
