[
    (
        name: "Down the road",
        life_stages: [Baby],
        length: "45m",
        cooldown: "1m",
        difficulty: 6,
        activities: [
            "Waiting at the lights",
            "staring at the sun",
            "loitering",
            "going up hill",
            "going down hill",
            "watching the birds",
            "crossing the street",
            "dodging dog poop",
        ],
        rewards: (
            money_start: 500,
            money_end: 1000,
            items: [
                (item: "Telescope", odds: 0.8),
                (item: "Painting Dude", odds: 0.2),
                (item: "Book The Divine Comedy", odds: 0.5),
                (item: "Recipe Spinach Risotto", odds: 0.5),
                (item: "Map To The Ninch", odds: 0.8),
            ]
        ),
    ),
    (
        name: "into the office",
        life_stages: [Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Topping up myki",
            "Waiting on the platform",
            "avoiding eye contact with pissing man",
            "scrolling on phone",
            "thinking about but not reading book",
            "staring out window",
            "marching along",
            "crying in toilet",
            "Lunch looks sloppy",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Office Slop", odds: 0.2),
                (item: "Book Vic 1981-1992", odds: 0.2),
                (item: "Book Meditations", odds: 0.2),
            ]
        ),
    ),
    (
        name: "to the ninch",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Fighting the traffic",
            "Rolling down the ninch Freeway",
            "Avoiding Frankston",
            "Eating at The Dava Hotel",
            "Going down Nepean highway",
            "Walking down the beach",
            "Enjoying the rock pools",
            "Swimming between the flags",
            "Walking around fort nepean",
            "Shopping at a IGA",
            "Looking at phillip island",
            "Enjoying the beach",
            "Circling the navel base",
            "Ohhh pizza",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Pizza", odds: 0.2),
                (item: "Recipe Chips", odds: 0.2),
                (item: "Fishing Rod", odds: 0.1),
                (item: "Book Homers Iliad", odds: 0.2),
                (item: "Map 1000 steps", odds: 0.8),
            ]
        ),
    ),
    (
        name: "1000 steps",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Going up some steps",
            "Waiting for others to pass",
            "More steps",
            "can't believe it more steps",
            "how many is 1000",
            "you know it isn't even 1000 steps",
            "must be at least a couple 100 to go",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Book Nevile Wran", odds: 0.2),
                (item: "Map Riding the 109", odds: 0.8),
            ]
        ),
    ),
    (
        name: "riding the 109",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Outside of box hill central",
            "A man is sipping on cask wine",
            "Heading down to maccas",
            "I was on the 109",
            "me and some guys from school",
            "heading down to north richmond",
            "Going though Victora street",
            "stopping at vic gardens",
            "I was riding the 109",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Bubble Tea", odds: 0.2),
                (item: "Recipe Meatballs", odds: 0.2),
                (item: "Book Dracula", odds: 0.2),
                (item: "Map Flagstaff Station", odds: 0.8),
            ]
        ),
    ),
    (
        name: "Flagstaff Station",
        life_stages: [Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Lot's of courts around here",
            "it's so brown",
            "where is it again",
            "should i go to the zoo?",
            "Is it still closed on weekends?",
            "It's so empty",
            "So many wigs and robes",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Coffee", odds: 0.2),
                (item: "Recipe Jokbal", odds: 0.2),
                (item: "Map Cyberspace", odds: 0.5),
            ]
        ),
    ),
    (
        name: "The malls balls",
        life_stages: [Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Looking at the malls balls",
            "Feeling the malls balls",
            "Embracing the malls balls",
            "In awe of the malls balls",
            "Bowing to the malls balls",
            "Smitten by the malls balls",
            "Beholding the malls balls",
            "Appreciating the malls balls",
            "Pondering the malls balls",
            "Eating Roti next to the malls balls",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Painting Malls Balls", odds: 0.2),
                (item: "Recipe Roti Canai", odds: 0.2),
                (item: "Map Koreana Mart Adelaide", odds: 0.8),
            ]
        ),
    ),
    (
        name: "Koreana Mart Adelaide",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Walking down Grote Street",
            "Beholding Market plaza food court",
            "Looking around",
            "Looking at Kimbap",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Kimbap", odds: 0.2),
            ]
        ),
    ),
    // Gotta add 3rd aldialde location
    (
        name: "Kukje Center",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Waiting for the bus",
            "Line number 3 is the best",
            "Oh cool a DAISO",
            "Gangnam 07 Gangnam 07",
            "Love some zoo coffee",
            "So many floors...",
            "So many empty floors....",
            "They got apex on the xbox no way",
            "That's a lot for a gb micro",
            "These anime figures are off putting",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Coffee", odds: 0.2),
                (item: "Program Dop craft", odds: 0.2),
                (item: "Map N Seoul Tower", odds: 0.8),
            ]
        ),
    ),
    (
        name: "n seoul tower",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Waiting for the bus",
            "Walking",
            "Walking...",
            "Wow look at the city",
            "Taking selife",
            "stuffed into cable car",
            "Waiting",
            "Walking",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Recipe Fried Chicken", odds: 0.2),
                (item: "Book The Art of war", odds: 0.2),
                (item: "Map Gangnam Style Sculpture", odds: 0.8),
            ]
        ),
    ),
    (
        name: "Gangnam Style Sculpture",
        life_stages: [Child, Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Doing the dance",
            "Having photos of me taken while doing the dance",
            "Singing as loud as I can",
            "Watching the music video on the little tv",
            "On their knees praising the sculpture",
            "Heeeyyyy Sexy Lady",
            "Oppa Gangnam Style",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Book Homers odyssey", odds: 0.2),
                (item: "Recipe Gopchang", odds: 0.2),
                (item: "Map Cyberspace", odds: 0.5),
            ]
        ),
    ),
    (
        name: "Cyberspace",
        life_stages: [Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Surfing the bits",
            "Seeing between the lines",
            "hacking",
            "Crushing the bits",
            "Hitting the net",
            "breaching the firewall",
            "jumping to the mainframe",
            "I'm in",
            "Jacking in",
            "Found the backdoor",
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "MapTheMoon", odds: 0.1)
            ]
        ),
    ),
    (
        name: "The Moon",
        life_stages: [Adult],
        length: "1m",
        cooldown: "10m",
        difficulty: 100,
        activities: [
            "Bloody Hell i'm high up",
            "Huh a white flag",
            "I wonder how it tastes",
            "Is that a speaking orb?",
            "Jumping really high",
            "How am I getting back?"
        ],
        rewards: (
            money_start: 0,
            money_end: 0,
            items: [
                (item: "Credits Scroll", odds: 0.1)
            ]
        ),
    )
]
