[
    PetTemplate(
        name: "blob",
        life_stage: Baby,
        stomach_size: 20,
        base_weight: 100,
        images: PetImageSet(
            normal: "images/pets/blob_normal.ase",
            eat: Some("images/pets/blob_eat.ase"),
            happy: Some("images/pets/blob_happy.ase"),
            sad: Some("images/pets/blob_sad.ase"),
            sleep: Some("images/pets/blob_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "pawn white",
        life_stage: Child,
        stomach_size: 40,
        base_weight: 200,
        images: PetImageSet(
            normal: "images/pets/pawn_white_normal.ase",
            eat: Some("images/pets/pawn_white_eat.ase"),
            happy: Some("images/pets/pawn_white_happy.ase"),
            sad: Some("images/pets/pawn_white_sad.ase"),
            sleep: Some("images/pets/pawn_white_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "ckcs",
        life_stage: Adult,
        stomach_size: 80,
        base_weight: 300,
        images: PetImageSet(
            normal: "images/pets/ckcs_normal.ase",
            eat: Some("images/pets/ckcs_eat.ase"),
            happy: Some("images/pets/ckcs_happy.ase"),
            sad: Some("images/pets/ckcs_sad.ase"),
            sleep: Some("images/pets/ckcs_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "computie",
        life_stage: Adult,
        stomach_size: 40,
        base_weight: 1000,
        images: PetImageSet(
            normal: "images/pets/computie_normal.ase",
            eat: Some("images/pets/computie_eat.ase"),
            happy: Some("images/pets/computie_happy.ase"),
            sad: Some("images/pets/computie_sad.ase"),
            sleep: Some("images/pets/computie_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "ballotee",
        life_stage: Adult,
        stomach_size: 60,
        base_weight: 300,
        images: PetImageSet(
            normal: "images/pets/ballotee_normal.ase",
            eat: Some("images/pets/ballotee_eat.ase"),
            happy: Some("images/pets/ballotee_happy.ase"),
            sad: Some("images/pets/ballotee_sad.ase"),
            sleep: Some("images/pets/ballotee_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "was gaurd",
        life_stage: Adult,
        stomach_size: 80,
        base_weight: 400,
        images: PetImageSet(
            normal: "images/pets/was_gaurd_normal.ase",
            eat: Some("images/pets/was_gaurd_eat.ase"),
            happy: Some("images/pets/was_gaurd_happy.ase"),
            sad: Some("images/pets/was_gaurd_sad.ase"),
            sleep: Some("images/pets/was_gaurd_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "beerie",
        life_stage: Adult,
        stomach_size: 60,
        base_weight: 300,
        images: PetImageSet(
            normal: "images/pets/beerie_normal.ase",
            eat: Some("images/pets/beerie_eat.ase"),
            happy: Some("images/pets/beerie_happy.ase"),
            sad: Some("images/pets/beerie_sad.ase"),
            sleep: Some("images/pets/beerie_sleeping.ase"),
        )
    ),
    PetTemplate(
        name: "humbie",
        life_stage: Child,
        stomach_size: 30,
        base_weight: 200,
        images: PetImageSet(
            normal: "images/pets/humbie_normal.ase",
            eat: Some("images/pets/humbie_eat.ase"),
            happy: Some("images/pets/humbie_happy.ase"),
            sad: Some("images/pets/humbie_sad.ase"),
            sleep: Some("images/pets/humbie_sleep.ase"),
        )
    ),
    PetTemplate(
        name: "Devil",
        life_stage: Adult,
        stomach_size: 60,
        base_weight: 200,
        images: PetImageSet(
            normal: "images/pets/devil_normal.ase",
            eat: Some("images/pets/devil_eat.ase"),
            happy: Some("images/pets/devil_happy.ase"),
            sad: Some("images/pets/devil_sad.ase"),
            sleep: Some("images/pets/devil_sleep.ase"),
        )
    ),
]
