(
    name: "Egg Hatch",
    melody: [
        (
            note: C4,
            duration: 8,
        ),
        (
            note: E4,
            duration: 8,
        ),
        (
            note: C4,
            duration: 8,
        ),
        (
            note: E4,
            duration: 10,
        ),
        (
            note: C4,
            duration: 10,
        ),
        (
            note: E4,
            duration: 10,
        ),
        (
            note: C4,
            duration: 12,
        ),
        (
            note: E4,
            duration: 12,
        ),
        (
            note: C4,
            duration: 12,
        ),
        (
            note: E4,
            duration: 16,
        ),
        (
            note: C4,
            duration: 16,
        ),
        (
            note: E4,
            duration: 16,
        ),
        (
            note: E5,
            duration: 6,
        ),
    ],
    tempo: 65,
)
