(
    name: "fan_fare",
    melody: [
        (
            note: Cs5,
            duration: 6,
        ),
        (
            note: Cs5,
            duration: 12,
        ),
        (
            note: Cs5,
            duration: 13,
        ),
        (
            note: Rest,
            duration: 8,
        ),
        (
            note: Gs4,
            duration: 5,
        ),
        (
            note: As4,
            duration: 5,
        ),
        (
            note: Cs5,
            duration: 16,
        ),
        (
            note: Ds5,
            duration: 12,
        ),
        (
            note: F5,
            duration: 16,
        ),
        (
            note: Ds5,
            duration: 5,
        ),
        (
            note: Cs5,
            duration: 3,
        ),
    ],
    tempo: 85,
)
