(
    name: "fan_fare_long",
    melody: [
        (
            note: Cs4,
            duration: 6,
        ),
        (
            note: C4,
            duration: 12,
        ),
        (
            note: Cs4,
            duration: 8,
        ),
        (
            note: Ds4,
            duration: 8,
        ),
        (
            note: Cs4,
            duration: 8,
        ),
        (
            note: As3,
            duration: 8,
        ),
        (
            note: As3,
            duration: 4,
        ),
        (
            note: As3,
            duration: 6,
        ),
        (
            note: Gs3,
            duration: 12,
        ),
        (
            note: As3,
            duration: 8,
        ),
        (
            note: C4,
            duration: 8,
        ),
        (
            note: As3,
            duration: 4,
        ),
        (
            note: Rest,
            duration: 5,
        ),
        (
            note: Cs4,
            duration: 6,
        ),
        (
            note: C4,
            duration: 12,
        ),
        (
            note: Cs4,
            duration: 8,
        ),
        (
            note: Ds4,
            duration: 8,
        ),
        (
            note: F4,
            duration: 8,
        ),
        (
            note: Ds4,
            duration: 8,
        ),
        (
            note: Ds4,
            duration: 8,
        ),
        (
            note: Fs4,
            duration: 8,
        ),
        (
            note: F4,
            duration: 8,
        ),
        (
            note: Ds4,
            duration: 8,
        ),
        (
            note: Cs4,
            duration: 6,
        ),
        (
            note: Ds4,
            duration: 12,
        ),
        (
            note: Cs4,
            duration: 4,
        ),
    ],
    tempo: 85,
)
