(
    name: "Fishing Idle",
    melody: [
        (
            note: C4,
            duration: 8,
        ),
        (
            note: D4,
            duration: 8,
        ),
        (
            note: F4,
            duration: 8,
        ),
        (
            note: Fs4,
            duration: 8,
        ),
        (
            note: F4,
            duration: 8,
        ),
        (
            note: C4,
            duration: 8,
        ),
        (
            note: F2,
            duration: 5,
        ),
    ],
    tempo: 60,
)
