(
    name: "heal",
    melody: [
        (
            note: Cs4,
            duration: 8,
        ),
        (
            note: C4,
            duration: 8,
        ),
        (
            note: A5,
            duration: 8,
        ),
        (
            note: G5,
            duration: 8,
        ),
        (
            note: E5,
            duration: 8,
        ),
        (
            note: Cs5,
            duration: 8,
        ),
        (
            note: C5,
            duration: 8,
        ),
    ],
    tempo: 100,
)
