(
    name: "star",
    melody: [
        (
            note: As4,
            duration: 12,
        ),
        (
            note: C5,
            duration: 12,
        ),
        (
            note: D5,
            duration: 12,
        ),
        (
            note: E5,
            duration: 12,
        ),
        (
            note: G5,
            duration: 12,
        ),
        (
            note: Gs5,
            duration: 12,
        ),
        (
            note: A5,
            duration: 12,
        ),
        (
            note: C5,
            duration: 12,
        ),
        (
            note: A2,
            duration: 12,
        ),
        (
            note: C5,
            duration: 12,
        ),
        (
            note: A2,
            duration: 12,
        ),
    ],
    tempo: 85,
)
